Source: syslog-canary
Maintainer: Vincent Bernat <bernat@debian.org>
Build-Depends: debhelper (>= 9.20160709) | dh-systemd,
               lsb-release

Package: syslog-canary
Architecture: all
Description: monitor /dev/log and restart syslog daemon on failures
Depends: ${misc:Depends}, python
